<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div>
        <h1>Add a New Staff</h1>
        <form action="/staffs" method="POST">
            <input type="text" name="name" placeholder="Name"> <br> <br>
            <input type="text" name="position" placeholder="Position"> <br> <br>
            <input type="text" name="age" placeholder="Age"> <br> <br>
            <input type="text" name="yearsAtCompany" placeholder="Years at company"> <br> <br>
            <input type="text" name="hometown" placeholder="Hometown"> <br> <br>
            <input type="submit" name="Add Staff" value="Add Staff">
        </form>
        <a href='/staffs'>Go Back to Homepage</a>
    </div>
</body>
</html>