<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add a New Staff</h1>
        <form action="/staff" method="POST">
            Name: <input type="text" name="name">
            Position: <input type="text" name="position"> <br>
            Age: <input type="text" name="age"> <br>
            Years at U Corp: <input type="text" name="years at U Corp"> <br>
            Hometown: <input type="text" name="hometown">
            <input type="submit" name="Add Staff" value="Add Staff">
        </form>
        <a href='/staffs'>Go Back to Homepage</a>
    </div>
</body>
</html>